# IDE for VSCode
.vscode
.fleet
.settings
.classpath
.project
.factorypath
.jpb
out
bin

### IDEA
.idea
*.iml
*.ipr
*.iws

### JRebel
/**/resources/rebel.xml

### Build
.gradle
build

### Graphql Plugin
.graphqlconfig
schema.graphql

# local env
.env
